
.parentDiv {
    padding:0px;
    margin:0px;
    position: absolute;
    float: left;
    top:20px;
    left:20px;
    width:90%;
    height:70%;
    border:1px solid blue;
    overflow: auto;
}
#main {
    /* z-index: 90; */
    z-index: 100;
    position: absolute;
    float:left;
    width:2000px;
    height:100%;
    top:0px;
    left:0px;
    background-image: url('back1.png?rnd=1');

}
#controlLayer {
    z-index: 110;
    position: absolute;
    float:left;
    top:0px;
    left:0px;
    border:1px solid orange;
}

#svgParent {
    /* z-index: 110; */
    position: absolute;
    width:2000px;
    height:100%;
}
div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
.node {
    position: absolute;
    width:140px;
    height:60px;
    border:1.5px solid orange;
    background-color: white;
    border-radius: 10px;
    padding:4px;
}
.node > div {
    width:100%;
    float: left;
    border-bottom:1px solid #888;
}
div.line {
    float:left;
    position:absolute;
    /* border:1px solid #bbb; */
}
.redraw {
    position: absolute;
    top: 10px;
    left: 10px;
    float: left;
    border:1px solid #ccc;
}
.controls {
    position: absolute;
    float: left;
    /* left: 10px; */
    /* top: 200px; */
    border: 1px solid #ccc;
    width: 100px;
    right: 10px;
    top: 10px;
}
.controls > button {
    margin-bottom: 5px;
}
div.widgets {
    position: absolute;
    float: left;
    border:1px solid #ccc;
    top: 30px;
    left: 30px;
    width:125px;
    height:250px;
    background-color: #eee;
    overflow: auto;
    border:1px solid #888;
}
div.widgets > div {
    float:left;
    margin-left:5px;
    margin-top: 5px;
    width:82%;
    border:1px solid #aaa;
    min-height: 30px;
    padding:5px;
    background-color: white;
}

.selectedBorder {
    border-width: 3px;
}