body {
    margin:0px;
    padding: 0px;
}

div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.jsFlow {
    width:100%;
    height: 100%;
    position: relative;
    overflow: auto;
}

.svgParent {
    float:left;
    position: absolute;
    top:0px;
    left:0px;
    overflow: auto;
    scrollbar-width: thin;
    transform: scale(1);
    transform-origin: 0 0;
    width:100%;
    height:100%;
}

.gridCanvas {
    z-index: 80;
    width:1500px;
    height:1000px;
    background-image: url(images/back1.png);
    position: absolute;
}

.svgCanvas {
    z-index: 90;
    float:left;
    position: absolute;
    top:0px;
    left:0px;
    width:1000px;
    height:1000px;
}
.htmlCanvas {
    z-index: 100;
    position: absolute;
}
.overlay {
    z-index: 101;
    position: absolute;
}

div.svgParent {
    /* transform: scale(.75); */
    transform-origin: left top;
}

/* used for bounding box debugging with svg pathss */
.jma {
    pointer-events: none;
}


.pathLabel {
    float:left;
    position: absolute;
}
.pathLabel > span {
    float: left;
    /* border:1px solid #ccc; */
    color: #666;
    background-color: white;
    padding:2px;
    border-radius: 5px;
    max-width: 75px;
    text-align: center;
    width: auto;
}

.jsFlowContainer {
    width:90%;
    height:90%;
    overflow: auto;
    border:2px solid red;
}

.parentDiv {
    padding:0px;
    margin:0px;
    float: left;
    position: relative;
    border:1px solid #aaa;
    overflow: hidden;
}

.widgets {
    position: relative;
    top:20px;
    left:20px;
    height:250px;
    width: 125px;
    border:1px solid #aaa;
    overflow: auto;
    scrollbar-width: none;
    background-color: white;
}

div.widgets > div {
    margin-left:5px;
    margin-top: 5px;
    width: calc(100% - 22px);
    border:1px solid #aaa;
    min-height: 30px;
    padding:5px;
    background-color: white;
}

.inspector {
    position: relative;
    top:40px;
    left:20px;
    height:250px;
    width:150px;
    border:1px solid #888;
    overflow: auto;
    scrollbar-width: none;
    background-color: white;
}


.svgCanvas > defs > marker#arrow > path, 
.svgCanvas > defs > marker#circle > circle, 
.svgCanvas > defs > marker#line > path {
    fill: #aaa;
}

.handles {
    border:1px solid purple;
    top:20px;
    left:20px;
    background-color: rgba(0,0,0,0);
}
.handles > .handle {
    float:left;
    width:10px;
    height:10px;
    border-radius: 5px;
    background-color: purple;
    border-bottom: none;
    position: absolute;
}
.handles .topHandle {
    top:-5px;
    left: 45%;
}
.handles .bottomHandle {
    top:calc(100% - 5px);
    left:45%;
}
.handles .leftHandle {
    left:-5px;
    top:45%;
}
.handles .rightHandle {
    left:calc(100% - 5px);
    top: 45%;
}

.selectedBorder {
    border-width: 3px;
    margin:0px;
}

.node > div.nodeHandles > div {
    float:left;
    width:10px;
    height:10px;
    border:1px solid purple;
    position: absolute;
    border-radius: 5px;
    /* background-color: white; */
    display: none;
}
.node.selectedBorder > div.nodeHandles > div {
    display:inline-block;
}
div.nodeHandles > div:nth-last-child(1) {
    /* top */
    top:-7px;
    left:calc(50% - 5px)
}
div.nodeHandles > div:nth-last-child(2) {
    /* bottom */
    bottom: -7px;
    left:calc(50% - 5px)
}
div.nodeHandles > div:nth-last-child(3) {
    /* left */
    top:calc(50% - 5px);
    left:-7px;
}
div.nodeHandles > div:nth-last-child(4) {
    /* right */
    top:calc(50% - 5px);
    right:-7px;
}

div.line {
    float:left;
    position:absolute;
    /* border:1px solid #bbb; */
}

.redraw {
    position: absolute;
    top: 10px;
    left: 10px;
    float: left;
    border:1px solid #ccc;
}
.controls {
    position: absolute;
    float: left;
    border: 1px solid #ccc;
    width: 100px;
    right: 10px;
    top: 10px;
}
.controls > button {
    margin-bottom: 5px;
}

div.inspector > div.prop-row {
    font-size: 9pt;
    width:100%;
    border-bottom:1px solid #aaa;
    float: left;
    padding:2px;
}
div.inspector > div.prop-row > span {
    float:left;
    width:48%;
    background-color: white;
    /* border:1px solid purple; */
}
div.inspector button {
    width:100%;
    margin-top:15px;
}
div.prop-row > span:nth-child(1) {
    color: #666;
}
div.prop-value {
    display: inline-block;
}
.scroller {
    scrollbar-width: none;
}


/* base node square object with title-text and content-text */
div.node {
    position: absolute;
    width:120px;
    height:80px;
    border:1px solid orange;
    background-color: white;
    border-radius: 10px;
}
div.node div.title-text {
    border-bottom: none;
    text-align: center;
    display: none;
}
div.node div.content {
    width:100%;
    float: left;
    text-align: center;
}
div.node div.content-text {
    color: #222;
    width:100%;
    font-size: 9.5pt;
    height: 100%;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:1px;
}
/* end of node rect object */



/* css to allow for multiple shapes as nodes; */
div.node.node-circle {
    border:1px solid orange;
    border-radius: 40px;
    height:80px;
    width:80px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
div.node.node-circle > div.title-text {
    border-bottom: none;
    display:none;
}
div.node.node-circle > div.content {
    width:100%;
    float: left;
    border-bottom:0px solid transparent;
    text-align: center;
}
div.node.node-circle > div.content-text {
    color: #222;
    margin-left:0px;
    width:100%;
    font-size: 9.5pt;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:0px;
}
/* end of node-circle */

div.node.node-short {
    border-radius: 10px;
    height:40px;
    width:120px;
}

/* connector node type, used to draw shapes composed of line paths */
div.node.connector {
    border-radius: 20px;
    border:1px solid transparent;
    height:40px;
    width:40px;
    background-color: transparent;
}
div.node.connector:hover {
    border:1px solid blue;
}

/* 
class to allow highlighting of all nodes on canvas, 
in case some don't have border set 
*/
div.node.highlight-nodes {
    border:2px solid rgba(255,0,0,0.3);
}

/* class for diamond node shape , ie, decision node for flowcharts */
div.node.diamond {
    border:none;
    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="80"><path d="M60 0 L0 40 L60 80 L120 40 Z" style="fill:white;stroke:orange;stroke-width:1"  ></path></svg>')
}


